<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet" />
</head>
<body>
	<div class="nav_items">
			<div><a href="/" class="nav_item">about me</a></div>
			<br>
			<div><a href="{{ HTTP_HOST }}/projects" class="nav_item">projects</a></div>
			<br>
			<div><a href="{{ HTTP_HOST }}/music" class="nav_item">music</a></div>
			<br>
			<div><a href="{{ HTTP_HOST }}/contact" class="nav_item">contact</a></div>
	</div>
</body>

</html> 
<br/><br/> 

<style>

	.nav_items{
		position: relative;
		width: 457.37px;
		height: 29.34px;
		top:30px;
		left:90%;
		flex: 2;
		flex-direction: column;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 200;
		font-size: 24px;
		line-height: 82.34%;
		color: #000000;
	}

	.nav_item{
		text-decoration: none;
	}



</style>