{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<html>
	<head>

	</head>
	<body>
		<div class="proj_card">
			{% load static %}
			<img src="{% static 'projects/test1.jpg' %}" class="image" alt="My image">
			<div class="filler"></div>
			<div class="texts">
				<div class="title">Going</div>
				<div>test three</div>
			</div>
		</div>

	</body>
</html>

<style>

	.proj_card{
		display: flex;
		flex-direction: row;
	}

	.filler{
		width:5%;
	}

	.image{

		width: 30%;
		height: 250px;

	}

	.title{
		font-weight: 900;
	}

	.texts{
		display: flex;
		flex-direction: column;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 100;
		font-size: 24px;
	}


</style>